{% extends "base.html" %} 

{% block content %}
<form class="boxseats__form" method="POST">
    <div class="form-group">
        <label for="firstAccount"><b>First Account</b></label>
        <input type="text" class="form-control" id="firstAccount" name="firstAccount" placeholder="Enter a valid letterboxd account"/>
    </div>
    <div class="form-group">
        <label for="secondAccount"><b>Second Account</b></label>
        <input type="text" class="form-control" id="secondAccount" name="secondAccount" placeholder="Enter a valid letterboxd account"/>
    </div>
    <br />
    <button type="submit" class="btn boxseats__submit btn-primary">
      <span class="boxseats__submit--indicator d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="boxseats__submit--label visually-hidden">Compare!</span>
    </button>

</form>

<ul class="list-group list-group-flush" id="titles">
    {% for title in intersection %}
    <li class="list-group-item">
      <img src = {{title['image']}} />
     <b>
      <a href= {{title['url']}}>
      {{ title['Title'] }}
    </a>
    </b>
    </li>
    {% endfor %}
  </ul>

{% endblock %}
